* {
    padding:5px;
    margin: 10px;
}

body {
    background-color: aquamarine;
}

.topic {
    background-color: white;
    border-radius: 1rem;
    margin: 3% 0 1% 20%;
    text-align: center;
    width: 50%;
    height: auto;

}

h1 {
    color: rgb(64, 184, 126);
    margin-top: 5rem;
}

.form-control {
    width: 30rem;
    height: 3rem;
    margin: 2rem 0 0 0rem;
    padding-left:rem;
}
.checkbox{
    padding-right:22rem;
}
button{ 
    background-color:rgb(8, 118, 109);
    color:white;
    width: 5rem;
    height: 2.5rem;
    border: 0px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: rgb(88, 203, 140);
}
